.l-logo{
    height: 388px;
    padding-top: 46px;
    text-align: center;
    .est-layout-page(1200px);
}
.l-header{
    background: #fff;
    .clearfix();
    .est-layout-page(1200px);
    li{
        float: left;
        width: 200px;
        font-size: 14px;
        a{
            display: inline-block;
            width: 200px;
            color: #000;
            text-align: center;
            .centered-line(38px);
            &:hover{
                background: #000;
                color: #FFE501;
            }
        }
        a.active {
          background: #000;
          color: #FFE501;
        }
    }
}
.u-logo{
    width:215px;
    height: 61px;
    overflow: hidden;
    a{
        display: block;
    }
    img{
        display: inline-block;
        margin: 0 auto;
        width:215px;
        height: 61px;
    }
}