.l-logo-search{
  width:128px;
  height: auto;
  margin-left:42px;
  overflow: hidden;
  img{
    width: 128px;
  }
}
.l-shop-nav{
  padding:2px 0;
  .rgba-background(#000, 100%);
  .est-layout-page(1190px);
  .br{
      border-right:#ffe501 solid 1px;
  }
  li{
    float: left;
    width: 197px;
    text-align: center;
    font-weight: bold;
    .centered-line(34px);
    &:hover{
      height: 32px;
      line-height: 32px;
    }
    a{
      display:inline-block;
      width: 197px;
      font-size: 15px;
      color: #ffe501;
      .hover-link();
    }
  }
}