.l-video-shopinfo{
	padding: 10px 0 0 0;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	background: #ffe501;
	.f-video{
		margin-bottom: 0;
	}
}
.l-shopinfo-box{
	padding: 10px 20px;
	background: #3b3b3b;
	margin-top: -1px;
	margin-bottom: 24px;
	.est-layout-page(1160px);
	.l-text{
		width:546px;
	}
	.l-name{
		h2{
			font-size: 24px;
			color: #ffe501;
			text-align: left;
			font-weight:500;
			line-height: 32px;
		}
		p{
			font-size: 14px;
			color: #dac931;
			text-align: left;
			line-height: 34px;
		}
	}
	.l-price-box{
		width: 546px;
		height: 24px;
		padding: 20px 0 20px 10px;
		background: url(../../images/l-price.jpg) left top no-repeat;
		.l-price{
				font-size: 24px;
				text-align: left;
				line-height: 24px;
				color: #c40000;
			em{
				font-size: 22px;
				color: #a1a1a1;
				padding-right: 5px;
			}
		}
		.l-share{
			width: 140px;
			margin-right: 10px;
			a{
				padding: 0 10px;
				font-size: 14px;
				color: #8c8c8c;
			}
		}
		
	}
	.collect-number{
		margin-top: 10px;
		border-top: dashed #ffe501  2px;
		border-bottom: dashed #ffe501  2px;
		li{
			width: 182px;
			float: left;
			line-height: 34px;
			text-align: center;
			color: #ffe501;
			em{
				color: #fff;
			}
		}
	}
	.bay-number{
		padding: 14px 0;
		span{
			font-size: 16px;
			color: #fff;
		}
		input{
			width: 50px;
			height: 20px;
			font-size: 14px;
			border:#ffe501 solid 1px;
		}
	}
	.bay-bnt{
		padding: 14px 0;
		a{
			display: inline-block;
			padding: 10px 40px;
			margin-right: 20px;
			font-size: 24px;
			color: #fff;
			text-align: center;
			background: #ffe501;
			.border-radius(5px);
			&:hover{
				background: #E5DA01;
			}
		}
	}
}