.warpper{width:1190px;margin:15px auto 15px auto; position: relative;}
#nav{width:190px;position:relative;top:0;border-bottom:1px #d65c00 solid;background:#f25600;z-index:1;box-shadow: 5px 5px 10px rgba(0,0,0,0.4);}

#nav .mod_cate_hd{height:40px;line-height:40px;font-size:16px;color:#FFFFFF;text-indent:7px;background-color:#d65c00;border-bottom:2px #d65c00 solid;font-family:"Microsoft Yahei";}
#nav .mod_cate,#nav .mod_cate2{height:24px;border-top:1px #d65c00 solid;border-bottom:1px #d65c00 solid;  padding: 5px 10px;}
#nav .mod_cate h2,#nav .mod_cate2 h2{line-height:24px;font-size:14px;font-weight:normal;font-family:"Microsoft Yahei";}
#nav .mod_cate h2 a,#nav .mod_cate2 h2 a{color:#FFFFFF;padding-right:5px;}
#nav .mod_cate_r{line-height:24px;font-style:normal;font-variant:normal;}
#nav .mod_cate_r a{font-size:12px;color:#C2D9F8;padding-right:5px;}
#nav .mod_cate2{background:none;}
#nav .mod_cate2 a.yel{color:#fee602;}
#nav .mod_subcate{display:none;width:574px;height:507px;border:2px #d65c00 solid;background:#FFFFFF;box-shadow:5px 5px 10px rgba(0, 0, 0, 0.4);position:absolute;top:0;z-index:-1;left:188px;overflow-x:hidden;overflow-y:auto;}

#nav .mod_subcate_main{width:530px;padding:0px 20px 10px 20px;margin-bottom:-1000px;float:left;}
#nav .mod_subcate_line{width:100%;height:1px;clear:both;font-size:0px;margin-bottom:5px;border-top:5px #fff solid;border-bottom:1px #dadada dotted;overflow:hidden;display:block;}
#nav .mod_subcate_main dl{padding:7px 0 7px 65px;border-bottom:1px #e5e5e5 solid;overflow:hidden;}
#nav .mod_subcate_main dl dt{width:65px;font-size:12px;color:#f25600;line-height:22px;font-style:normal;font-variant:normal;font-weight:700;margin-left:-65px;float:left;font-size-adjust:none;font-stretch:normal }
#nav .mod_subcate_main dl dd{line-height:22px;overflow:hidden;}
#nav .mod_subcate_main dl dd a{color:#666;font-size:12px;margin:0 5px 0 5px;float:left;display:inline;white-space:nowrap;}
#nav .mod_subcate_main dl dd a.org{color:#ff7300;}
#nav .on{  padding: 5px 10px;border-top:1px #d65c00 solid;border-bottom:1px #d65c00 solid;border-left: 2px #d65c00 solid;background:#FFFFFF;}
#nav .on h2 a{color:#333333;}
#nav .on .mod_subcate{display:block !important;/* !important 强制显示，否则会闪烁*/ }
#nav .on .mod_cate_r a{color:#666666;}
#nav .on a.hot_sub{color:#FFFFFF;}
