.u-nav {
  width: 1152px;
  height: 56px;
  margin: 0 auto;
  display: block;
  background: #ffe501;
  font-size: 18px;
  color: #512c09;
}
.u-nav li {
  float: left;
  display: block;
  width: 138px;
  height: 36px;
  margin-top: 10px;
  line-height: 36px;
  text-align: center;
}
.u-nav li a {
  line-height: 36px;
  color: #512c09;
}
.u-nav li a:hover {
  color: #512c09;
  background: url(../../images/u-nav-hover.png) no-repeat 50% 80%;
}
.u-nav li .active {
  color: #512c09;
  background: url(../../images/u-nav-hover.png) no-repeat 50% 80%;
}
.u-sidenav {
  display: block;
  float: left;
  width: 108px;
  height: auto;
  background: #ffe501;
  margin: 8px 24px;
  padding: 8px 15px;
}
.u-side-tit {
  font-size: 18px;
  color: #512c09;
  text-align: center;
  line-height: 30px;
}
.u-side-tit a {
  width: 108px;
  display: block;
  color: #512c09;
}
.u-side-tit a:hover {
  text-decoration: underline;
}
.u-side-tit .active {
  text-decoration: underline;
}
.u-side-sec {
  margin-top: 8px;
}
.u-side-sec li {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
}
.u-side-sec li a {
  color: #a38b74;
}
.u-side-sec li a:hover {
  text-decoration: underline;
}
.u-side-sec li .active {
  text-decoration: underline;
}
.u-right-page {
  display: block;
  margin-top: 20px;
}
.u-message {
  width: 986px;
  height: auto;
  float: left;
  display: inline-block;
  border-bottom: 1px solid #ffe501;
  padding-bottom: 20px;
}
.u-icon {
  display: inline-block;
  float: left;
  width: 120px;
  height: 120px;
  border: 6px solid #ffe501;
  border-radius: 80px;
  overflow: hidden;
}
.u-detail ul {
  display: inline-block;
  float: left;
  width: 410px;
  margin-left: 16px;
  margin-top: 14px;
}
.u-detail li {
  display: block;
  height: 36px;
  font-size: 18px;
  line-height: 36px;
  color: #535353;
}
.u-detail li span {
  margin-left: 10px;
  color: #a38b74;
}
.u-detail li a {
  color: #a38b74;
}
.u-detail li a:hover {
  text-decoration: underline;
}
.u-order-num {
  margin-top: 22px;
}
.u-order-num a {
  font-size: 24px;
  color: #512c09;
  margin: 0 80px;
}
.u-lastsale {
  margin-top: 18px;
  font-size: 18px;
  color: #535353;
}
.u-lastsale table {
  margin-top: 20px;
  line-height: 50px;
}
.u-lastsale table th {
  text-align: center;
  border: 1px solid #ffe501;
}
.u-lastsale table td {
  text-align: center;
  border: 1px solid #ffe501;
  font-size: 14px;
}
.u-Integral {
  display: inline-block;
  margin-top: 24px;
  color: #512c09;
}
.u-Integral table {
  border: 1px solid #ffe501;
}
.u-Integral table td {
  text-align: center;
  border-right: 1px solid #ffe501;
  line-height: 48px;
}
.u-Integral table td input {
  width: 280px;
  height: 48px;
  background: #ffe501;
  border: none;
  border-radius: 5px;
  color: #512c09;
  font-size: 18px;
  font-weight: bold;
}
.u-Integral table .u-Integral-num {
  font-weight: bold;
  color: #a38b74 !important;
}
.u-mgn-b {
  margin-bottom: 20px;
}
/*u-basicinfo*/
.u-basicinfo {
  width: 986px;
  display: inline-block;
  margin: 0 auto;
}
.u-basicinfo li {
  border-bottom: 1px solid #ffe501;
  font-size: 18px;
  line-height: 64px;
}
.u-basicinfo label {
  margin-left: 8px;
}
.u-basicinfo span {
  margin-left: 40px;
}
.u-basicinfo a {
  float: right;
  margin-right: 20px;
  text-align: right;
  color: #a38b74;
}
.basictit {
  font-size: 24px;
  color: #512c09;
  font-weight: bold;
  margin-bottom: 8px;
  padding-left: 8px;
  border-bottom: 1px solid #ffe501;
  line-height: 48px;
}
/*changepassword*/
.u-c-password {
  width: 946px;
  display: inline-block;
  padding: 20px 24px;
}
.timeaxis-img {
  width: 946px;
  margin-bottom: 20px;
}
.u-changepassword-ok {
  height: 108px;
  margin: 48px 120px;
  background: url(../../images/icon-register-finish.png) no-repeat left;
  padding-top: 20px;
}
.u-changepassword-ok h2 {
  margin: 20px 140px;
  font-size: 28px;
  font-weight: bold;
  color: #512c09;
}
.u-changepassword-ok p {
  font-size: 18px;
  color: #a38b74;
  margin: 10px 140px;
}
/*secureemail & phonemanage*/
.u-secureemail {
  width: 986px;
  display: inline-block;
  margin-top: 10px;
}
.u-secureemail-input h2 {
  font-size: 24px;
  color: #512c09;
  font-weight: bold;
  line-height: 48px;
}
.u-secureemail-input p {
  font-size: 18px;
  color: #512c09;
  line-height: 36px;
}
.u-secureemail-input .modify {
  display: inline-block;
  padding: 0 50px;
  background: #f7f9fa;
  color: #512c09;
  font-size: 18px;
  line-height: 36px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 20px 0;
}
.u-secureemail-input input {
  height: 36px;
  width: 246px;
  font-size: 18px;
  line-height: 36px;
  margin-right: 10px;
}
.u-secureemail-input .confirmmodify {
  display: inline-block;
  padding: 0 30px;
  background: #ffe501;
  color: #512c09;
  line-height: 44px;
  font-size: 18px;
  border-radius: 5px;
  height: 44px;
}
